---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - About Us";
import "../styles/styles.css";
import Amenities from "../components/Amenities.astro";
import PropertyOffer from "../components/PropertyOffer.astro";
---

<MainLayout title={title}>
  <main>
    <Amenities />
    <PropertyOffer />
  </main>
</MainLayout>
