---
import MainLayout from "../layout/MainLayout.astro";
const title = "Rene's Place - Contact Us";
import "../styles/styles.css";
---

<MainLayout title={title}>
    <main>
        <h2 class="text-center mt-6 text-2xl">Contact Us Section Here!</h2>
    </main>
</MainLayout>