---
import { Icon } from "astro-icon";
---

<h2 class="text-center pt-6 text-2xl font-bold">Amenities</h2>
<div class="pt-4">
  <ul class="flex justify-center">
    <li class="mx-2">6 Guests</li>
    <li class="mx-2">2 Bedrooms</li>
    <li class="mx-2">3 Beds</li>
    <li class="mx-2">1 Bath</li>
  </ul>
</div>
<div class="w-11/12 flex flex-col mt-6 border-2 border-gray-300 md:w-1/2 lg:w-1/3 mx-auto rounded-lg p-2">
	<div class="flex w-full mb-4">
		<div class="pr-6">
			<Icon name="mdi:desk" class="w-[30px] inline" />
    </div> 
		<div>
			<div>
				<p class="text-lg font-bold">Dedicated workspace</p>
				<p>A common area with wifi that's well suited for working.</p>
			</div>
		</div>
	</div>
	<div class="flex w-full mb-4">
		<div class="pr-6">
			<Icon name="bi:door-open" class="w-[30px] inline" />
  	</div> 
		<div>
			<div>
				<p class="text-lg font-bold">Self check-in</p>
				<p>Check yourself in with the lockbox.</p>
			</div>
		</div>
	</div>
	<div class="flex w-full">
		<div class="pr-6">
			<Icon name="bytesize:calendar" class="w-[30px] inline" />
    </div> 
		<div>
			<div>
				<p class="text-lg font-bold">Free cancellation before May 28</p>
			</div>
		</div>
	</div>
</div>