---
---

<footer class="w-full h-14">
  <div class="text-center lg:text-left bg-gray-100 text-gray-600 h-14">
    <div class="flex justify-center items-center md:justify-between lg:justify-between p-6 border-t border-gray-300 h-14">
      <div class="mr-12 hidden md:block lg:block">
        <span>&copy;2022, Designed By Michael Miller</span>
      </div>
      <div class="flex justify-center">
        <a href="http://www.facebook.com" target="_blank" class="text-xl mr-6 text-gray-600 hover:scale-150 transition duration-700">Facebook</a>
        <a href="http://www.twitter.com" target="_blank" class="text-xl mr-6 text-gray-600 hover:scale-150 transition duration-700">Twitter</a>
        <a href="http://www.instagram.com" target="_blank" class="text-xl mr-6 text-gray-600 hover:scale-150 transition duration-700">Instagram</a>
      </div>
    </div>
  </div>
</footer>